[Unit]
Description=Telegram bot Seraph
After=syslog.target
Wants=network.target
After=network.target
# After=network-online.target
[Service]
Restart=always
RestartSec=30s
TimeoutSec=300
Type=simple
User=root
# Group=SOMEUSER
OOMScoreAdjust=-100
WorkingDirectory=/usr/local/bin/seraph
PIDFile=/usr/local/bin/seraph/shared/tmp/pids/service.pid
ExecStart=/usr/local/bin/seraph/venv/bin/python3 /usr/local/bin/seraph/main.py

[Install]
WantedBy=multi-user.target
